<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>

            <div id="sectionName" class="text-link">
                <h4>Grade 1 - Rose</h4>
                <a href="/home">Main</a>
                <p>/</p>
                <p>Grade Management</p>
                <p>/</p>
                <p id="grade-and-section">Grade 1 - Rose</p>
            </div>


            <div class="search-div">
                <!-- Searchbox and sort btn -->
                <div class="left-section">
                    <div class="report-main-btns-left back-btn">
                        <button type="button" class="btn-back" onclick="history.back()" title="Back">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <div class="search-container">
                        <input type="text" placeholder="Search..." class="search-input" />
                        <button type="button" class="search-btn">Search</button>
                    </div>
                </div>

                <div class="sort-container">
                    <select name="sort" id="sort-select" class="sort-select">
                        <option value="" disabled selected>Sort</option>
                        <option value="patient-number">Patient Number</option>
                        <option value="patient-name">Patient Name</option>
                        <option value="patient-sex">Sex</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table-wrapper">
            <!-- Table -->
            <table id="fine-dining-restaurant-table" class="grade-per-class-table main-table">
                <thead>
                    <tr>
                        <th>Subjects</th>
                        <th>Teacher</th>
                        <th>Graded</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const path = window.location.pathname;
        const pathParts = path.split('/');
        const sectionId = pathParts[pathParts.length - 1];
        console.log(sectionId);
        setTextLink(sectionId);
        getSubjectAndTeacher(sectionId);
    });

    function setTextLink(sectionId) {
        fetch(`/section/${sectionId}`)
            .then(response => {
                if (!response.ok) {
                    showErrorModal("Section information not found");
                    window.location.href="/grade-management";
                }
                return response.json(); // Parse the response as JSON
            })
            .then(data => {
                const textLink = document.querySelector("#sectionName");
                textLink.innerHTML = `
                    <h4>${data.gradeLevelName} - ${data.sectionName}</h4>
                    <p>Main</p>
                    <p>/</p>
                    <p>Grade Management</p>
                    <p>/</p>
                    <p id="grade-and-section">${data.gradeLevelName} - ${data.sectionName}</p>
                `;
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
    }

    function getSubjectAndTeacher(sectionId) {
        fetch(`/schedules/section-subjects?sectionId=${sectionId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the response as JSON
            })
            .then(datas => {
                const tableBody = document.querySelector("#fine-dining-restaurant-table tbody");
                tableBody.innerHTML = "";

                datas.forEach((data) => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${data.subject.subjectName}</td>
                            <td>${data.teacher? data.teacher.fullName : "N/A"}</td>
                            <td>${data.gradedCount}/${data.totalToBeGraded}</td>
                            <td>
                                <div class="dropdown">
                                    <div class="action-container action">
                                        <a href="/grade-management/subject/${sectionId}/${data.subject.subjectNumber}"><button class="btn-confirm">View Student Grades</button></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
    }
</script>

</html>