<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script th:src="@{/js/script.js}" defer></script>
<script th:src="@{/js/sidebar.js}" defer></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>

            <!-- Overlay -->
            <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

            <div class="text-link">
                <h4>Account</h4>
                <a href="/home">Main</a>
                <p>/</p>
                <a href="/accounts/my-account" title="You're currently in this page.">Account - My Account</a>
            </div>
        </div>

        <!-- Modal for student information -->
        <div id="studentInformationContainer" class="student-information-container">
            <div class="student-information-container-content">
                <h1>Staff Information</h1>
                <form method="" action="" id="studentInformationForm">
                    <div class="header">
                        <div class="half-unique">
                            <label for="student-id">Staff ID: </label>
                            <input readonly type="text" id="student-id-rec">
                        </div> <br>

                        <div class="other-info-container">
                            <div class="half-other-info" id="staff-type-row">
                                <label for="staff-type">Account Type/Role:</label>
                                <h6 id="staff-type">Teacher</h6>
                            </div>

                            <div class="half-other-info" id="staff-status-row">
                                <label for="staff-status">Status:</label>
                                <h6 id="staff-status">Unrestricted</h6>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; align-content: center; justify-items: left;">
                        <h2>Personal Information</h2>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="column1">
                                <div>
                                    <label for="name">Name</label>
                                    <div class="student-form-group">
                                        <div class="input-label-pair">
                                            <input readonly type="text" id="firstNameRec">
                                            <p class="small-text first-name-p">First</p>
                                        </div>
                                        <div class="input-label-pair">
                                            <input readonly type="text" id="middleNameRec">
                                            <p class="small-text middle-name-p">Middle</p>
                                        </div>
                                        <div class="input-label-pair">
                                            <input readonly type="text" id="lastNameRec">
                                            <p class="small-text last-name-p">Last</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column2">
                                <!-- Gender, BDate, and Scholar -->
                                <div class="student-form-group half-stud-info-small">
                                    <label for="gender">Gender:</label>
                                    <input readonly type="text" id="genderRec">

                                    <label for="birthdate">Birthdate:</label>
                                    <input readonly required type="date" id="birthdate-report-rec">
                                </div>
                            </div>

                            <div class="column1">
                                <label for="address">Address:</label>
                                <div class="student-form-group">
                                    <input readonly type="text" id="staff-address-rec" placeholder="">
                                </div>
                            </div>

                            <div class="column2">
                                <div class="student-form-group">
                                    <label>Email:</label>
                                    <input readonly type="email" class="place-of-birth-report" id="staff-email-rec">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> <br>

        <div class="my-account-btns">
            <div class="report-main-btns-right">
                <button type="button" class="btn-gray" id="editStudInfo"
                    data-open-modal="studentInformationEditModal">Edit</button>
                <!-- <button type="button" class="btn-neutral" data-open-modal="changePasswordModal">Change
                    Password</button> -->
            </div>
        </div>

        <!-- Modal for editing the student information -->
        <div id="studentInformationEditModal" class="student-information-edit-modal">
            <div class="student-information-edit-modal-content">
                <div class="modal-body">
                    <h1>Staff Information</h1>
                    <form method="" action="" id="staffInformationEditForm">
                        <div class="header">
                            <div class="half-unique">
                                <label for="student-id">Staff ID: </label>
                                <input readonly type="text" id="student-id">
                            </div> <br>

                           
                        </div>

                        <div style="display: flex; align-content: center; justify-items: left;">
                            <h2>Personal Information</h2>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="column1">
                                    <div>
                                        <label for="name">Name</label>
                                        <div class="student-form-group half">
                                            <input type="text" name="firstname" required id="firstName">
                                            <input type="text" name="middlename" required id="middleName">
                                            <input type="text" name="lastname" required id="lastName">
                                        </div>
                                        <div class="small-text">
                                            <p>First</p>
                                            <p>Middle</p>
                                            <p>Last</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column2">
                                    <!-- Gender, BDate, and Scholar -->
                                    <div class="student-form-group half-stud-info-small">
                                        <label for="gender">Gender:</label>
                                        <select name="gender" id="gender" required>
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>
                                        </select>

                                        <label for="birthdate">Birthdate:</label>
                                        <input required type="date" name="birthdate" id="birthdate-report">
                                    </div>
                                </div>

                                <div class="column1">
                                    <label for="address">Address:</label>
                                    <div class="student-form-group">
                                        <input type="text" id="staff-address" name="address" required placeholder="">
                                    </div>
                                </div>

                                <div class="column2">
                                    <div>
                                        <div class="student-form-group">
                                            <label>Email:</label>
                                            <input readonly class="place-of-birth-report" type="email" id="staff-email">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-buttons">
                    <button type="button" data-action="updateMyAccount" class="btn-confirm" id="confirmStudent"
                        data-open-modal="confirmationModal"
                        data-message="Are you sure you want to update your profile?">Confirm</button>

                    <button type="button" class="btn-cancel" id="cancelStudent"
                        data-close-modal="studentInformationEditModal">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Modal for confirmation -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="modalText"></p>
                <div class="modal-buttons">
                    <button id="confirmAction" class="btn-confirm" title="Confirm">Confirm</button>
                    <button class="btn-cancel" data-close-modal="confirmationModal" title="Cancel">Cancel</button>
                </div>
            </div>
        </div>

        <div id="errorModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="errorMessage"></p>
                <div class="modal-buttons">
                    <button type="button" class="error-btn-cancel" data-close-modal="errorModal">Close</button>
                </div>
            </div>
        </div>

        <!-- Background overlay -->
        <div id="successModalOverlay"></div>

        <!-- Success modal -->
        <div id="successModal">
            <p id="successModalMessage"></p>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        getMyInfo();
    });

    async function getMyInfo(){
        const response = await fetch("/user/current-logged-in");

        if(!response.ok){
            showErrorModal("Your account profile failed to load");
            setTimeout(()=>{
                window.location.href="/home";
            })
        }

        const user = await response.json();
        updateContents(["firstNameRec","middleNameRec","lastNameRec","genderRec","birthdate-report-rec",
        "staff-address-rec","staff-email-rec","student-id-rec","staff-type"],user);

        updateContents(["firstName","middleName","lastName","gender","birthdate-report",
        "staff-address","staff-email","student-id"],user);
    }

    function updateContents(ids,user){
        document.getElementById(ids[0]).value = user.firstname;
        document.getElementById(ids[1]).value = user.middlename;
        document.getElementById(ids[2]).value = user.lastname;
        document.getElementById(ids[3]).value = user.gender;
        document.getElementById(ids[4]).value = user.birthdate;
        document.getElementById(ids[5]).value = user.address;
        document.getElementById(ids[6]).value = user.username;
        document.getElementById(ids[7]).value = user.staffDisplayId;
        if(ids.length == 9){
            document.getElementById(ids[8]).textContent = user.role;}
    }

    function updateMyAccount(){
        const form = document.getElementById("staffInformationEditForm");
        const formData = new FormData(form);
        const formObject = Object.fromEntries(formData.entries());
        console.log(formObject);
        fetch('/user/update/my-info',{
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formObject)
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => {throw new error(text)});
            }
            return response.text(); 
        })
        .then(text => {
            showSuccessModal(text);
        })
        .catch(error => {
            showErrorModal("There was a problem with the PUT request:", error);
        });
}
</script>

</html>