<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script th:src="@{/js/script.js}" defer></script>
<script th:src="@{/js/sidebar.js}" defer></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>

            <!-- Overlay -->
            <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

            <div class="text-link">
                <h4>Verify Accounts</h4>
                <a href="/home">Main</a>
                <p>/</p>
                <a href="/accounts/verify-accounts" title="You're currently in this page.">Accounts - Verify
                    Accounts</a>
            </div>

            <div class="search-div">
                <!-- Searchbox and sort btn -->
                <div class="left-section">
                    <div class="search-container">
                        <input type="text" id="search" placeholder="Search..." class="search-input" />
                        <button type="button" class="search-btn" onclick="fetchAccounts()" title="Search Account">Search</button>
                    </div>
                </div>
                <div class="sort-container">
                    <select name="sort" onclick="fetchAccounts()" id="sort-select" class="sort-select">
                        <option value="All" selected>All</option>
                        <option value="Pending">Pending</option>
                        <option value="Approved">Approveed</option>
                        <option value="Rejected">Rejected</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="table-wrapper">
            <!-- Table -->
            <table class="verify-accounts-table main-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="accounts-table-body">
                </tbody>
            </table>

                    <!-- Pagination -->
            <div class="pagination-container">
                <div class="pagination-controls">
                    <span id="itemRange">1–10 of 37</span>
                    <select id="pageSizeSelector">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <button type="button" id="prevPage">«</button>
                    <input type="number" id="pageInput" min="1" value="1">
                    <span id="totalPages">of 4</span>
                    <button type="button" id="nextPage">»</button>
                </div>
            </div>
        </div>

        <!-- Error Modal -->
        <div id="errorModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="errorMessage"></p>
                <div class="modal-buttons">
                    <button class="error-btn-cancel" data-close-modal="errorModal" title="Close Button">Close</button>
                </div>
            </div>
        </div>

        <!-- Background overlay -->
        <div id="successModalOverlay"></div>

        <!-- Success modal -->
        <div id="successModal">
            <p id="successModalMessage"></p>
        </div>

        <!-- Confirmation Modal -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="modalText">Are you sure?</p>
                <div class="modal-buttons">
                    <button type="button" id="confirmAction" class="btn-confirm" title="Confirm Button">Confirm</button>
                    <button type="button" data-close-modal="confirmationModal" class="btn-cancel"
                        title="Cancel Button">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let selectedVerificationId = null;
        document.addEventListener("DOMContentLoaded", function () {
            document.addEventListener('click', function(event) {
            if (event.target.matches('[data-action="rejectAccount"]')) {
                selectedVerificationId = event.target.getAttribute('data-account-id');
            }});
            fetchAccounts(1);
        });

        var currentPage;
        function fetchAccounts(currentPages = 1) {
            currentPage = currentPages;
            var pageSize = document.getElementById("pageSizeSelector").value;
            var search = document.getElementById("search").value;
            var type = document.getElementById("sort-select").value;

            fetch(`/register?pageNo=${currentPages}&pageSize=${pageSize}&status=${type}&q=${search}`)
                .then(response => {
                    if (!response.ok) {
                        updatePaginationUI(0, 0, 0, 0);
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(page => {
                    if(page.content.length === 0){
                        updatePaginationUI(0, 0, 0, 0);
                        throw new Error(`Empty table`);
                    }
                    const tableBody = document.getElementById("accounts-table-body");
                    tableBody.innerHTML = "";

                    const roleMapping = {
                        "ENROLLMENT_STAFF": "Enrollment Staff",
                        "TEACHER": "Teacher",
                        "ADMIN": "Admin"
                    };

                    page.content.forEach(account => {
                        const row = document.createElement("tr");
                        const fullName = [account.firstname, account.middlename, account.lastname]
                            .filter(name => name && name.trim() !== '')
                            .join(' ');

                        const statusClass = getAccountStatusClass(account.status);
                        const readableRole = roleMapping[account.role] || account.role;

                        row.innerHTML = `
                            <td>${fullName}</td>
                            <td>${account.username}</td>
                            <td>${readableRole}</td>
                            <td>
                                <div class="status-container">
                                    <div class="status ${statusClass}">${account.status || 'Pending'}</div>
                                </div>
                            </td>
                            <td>
                                <div class="action-container dropdown-status-content-verify">
                                    <div class="action">
                                        <button data-action="rejectAccount" 
                                            data-account-id="${account.id}"
                                            data-message="Are you sure you want to reject this account?" 
                                            data-open-modal="confirmationModal" 
                                            src="/images/icons/cross.png" 
                                            alt="Reject">Reject Account </button>
                                    </div>
                                </div>
                            </td>`;

                        tableBody.appendChild(row);
                    });
                    updatePaginationUI(currentPage,page.pageSize,page.totalElements, page.totalPages);
                    updateActionVisibility();
                })
                .catch(error => {
                    console.error("Error fetching account data:", error);
                    const tableBody = document.getElementById("accounts-table-body");
                    tableBody.innerHTML = `<tr><td colspan="5" class="error-message">No records found</td></tr>`;
                });
        }
        function populateTable(accounts) {
            const tableBody = document.getElementById("accounts-table-body");
            tableBody.innerHTML = "";

            // Role mapping for readable text
            const roleMapping = {
                "ENROLLMENT_STAFF": "Enrollment Staff",
                "TEACHER": "Teacher",
                "ADMIN": "Admin"
            };

            accounts.forEach(account => {
               // console.log(account); // Debugging
                const row = document.createElement("tr");

                const statusClass = getAccountStatusClass(account.status);
                const readableRole = roleMapping[account.role] || account.role;

                row.innerHTML = `
                    <td>${account.id}</td>
                    <td>${account.firstname} ${account.middlename} ${account.lastname}</td>
                    <td>${account.username}</td>
                    <td>
                        <div class="status-container">
                            <div class="status ${statusClass}">${account.status}</div>
                        </div>
                    </td>
                    <td>
                        <div class="action-container dropdown-status-content-verify">
                            <div class="action">
                                <img data-action="rejectAccount" data-message="Are you sure you want to reject this account?" data-open-modal="confirmationModal" src="/images/icons/cross.png" alt="Reject">
                            </div>
                        </div>
                    </td>
                `;

                tableBody.appendChild(row);
            });
            updateActionVisibility();
        }

        // document.addEventListener("click", (event) => {
        //     const icon = event.target.closest("[data-action='verifyAccount']");

        //     if (icon) {
        //         const userId = icon.getAttribute("user-id");
        //         const userName = icon.getAttribute("user-name");

        //         if (userId && userName) {
        //             document.getElementById("user-id").textContent = userId;
        //             document.getElementById("user-name").textContent = userName;
        //         } else {
        //            // console.log("⚠️ User ID or Name missing!");
        //         }
        //     }
        // });

        function getAccountStatusClass(status) {
            status = status.toLowerCase();
            if (status === "pending") {
                return "pending-status";
            } else if (status === "approved") {
                return "approved-status";
            } else if (status === "rejected") {
                return "rejected-status"
            }
            return "";
        }



        // Function to hide action buttons for non-pending accounts
        function updateActionVisibility() {
            const rows = document.querySelectorAll(".verify-accounts-table tbody tr");

           // console.log(`Rows found: ${rows.length}`); // Debugging

            rows.forEach(row => {
                let statusElement = row.querySelector(".status-container div");
                let actionContainer = row.querySelector(".action-container");

                if (statusElement && actionContainer) {
                    let status = statusElement.textContent.trim().toLowerCase();
                   // console.log(`Status found: ${status}`); // Debugging

                    if (status === "pending") {
                        actionContainer.style.display = "flex";
                    } else {
                        actionContainer.style.display = "none";
                    }
                }
            });
        }

        function rejectAccount(selectedVerificationId) {
            fetch(`/register/reject/${selectedVerificationId}`, { method: 'PUT' })
                .then(response => response.text())
                .then(message => {
                    showSuccessModal("✅ Success: Account successfully rejected!");
                })
                .catch(error => console.error('Error rejecting account'));
        }

        function updatePaginationUI(currentPage, pageSize, totalItems, totalPages) {
        // console.log("updatePaginationUI:", { currentPage, pageSize, totalItems, totalPages });
        const start = totalItems === 0 ? 0 : (currentPage - 1) * pageSize + 1;
        const end = Math.min(currentPage * pageSize, totalItems);

        document.getElementById("itemRange").textContent = `${start}–${end} of ${totalItems}`;
        document.getElementById("pageInput").value = currentPage;
        document.getElementById("pageInput").min = 1;
        document.getElementById("pageInput").max = totalPages;
        document.getElementById("totalPages").textContent = `of ${totalPages}`;

        document.getElementById("prevPage").disabled = currentPage <= 1 || totalPages === 0;
        document.getElementById("nextPage").disabled = currentPage >= totalPages || totalPages === 0;
    }

    document.getElementById("prevPage").addEventListener("click", () => {
        if (currentPage > 1) {
            currentPage--;
            fetchAccounts(currentPage);
        }
    });

    document.getElementById("nextPage").addEventListener("click", () => {
        if (currentPage < document.getElementById("pageInput").max) {
            currentPage++;
            //console.log("Navigating to page:", currentPage);
            fetchAccounts(currentPage);
        } else {
            // console.log("Cannot navigate to next page");
        }
    });

    document.getElementById("pageInput").addEventListener("change", (e) => {
        const totalPages = parseInt(document.getElementById("pageInput").max);
        let page = parseInt(e.target.value);
        if (page >= 1 && page <= totalPages) {
            currentPage = page;
            fetchAccounts(currentPage);
        } else {
            e.target.value = currentPage;
        }
    });

    document.getElementById("pageSizeSelector").addEventListener("change", (e) => {
        // console.log("pageSizeSelector changed", { value: e.target.value });
        pageSize = parseInt(e.target.value);
        currentPage = 1;
        fetchAccounts(currentPage);
    });
    </script>
</body>

</html>