<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>
            
            <!-- Overlay -->
            <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

            <div class="text-link">
                <h4>School Settings</h4>
                <a href="/home">Main</a>
                <p>/</p>
                <a href="/settings/school-settings" title="You're currently in this page.">Settings - School
                    Settings</a>
            </div>
        </div>

        <!-- School Settings Form -->
        <div class="settings-main-container mt-4">
            <form id="schoolSettingsForm" enctype="multipart/form-data">
                <div class="school-settings-container">
                    <!-- New School Information Section -->
                    <div class="school-info-container">
                        <div>
                            <label for="schoolName" class="form-label"><b>School Name</b></label>
                            <input type="text" th:value="${schoolName}" id="schoolName" class="form-control"
                                placeholder="Enter School Name" required disabled>
                        </div>
                        <div>
                            <label for="schoolAddress" class="form-label"><b>Address</b></label>
                            <input type="text" th:value="${schoolAddress}" id="schoolAddress" class="form-control"
                                placeholder="Enter Address" required disabled>
                        </div>
                        <div class="input-group-half">
                            <div class="settings-input">
                                <label for="schoolEmail" class="form-label"><b>Email</b></label>
                                <input type="email" th:value="${schoolEmail}" id="schoolEmail" class="form-control"
                                    placeholder="Enter Email" required disabled>
                            </div>
                            <div class="settings-input">
                                <label for="schoolContact" class="form-label"><b>Contact Number</b></label>
                                <input type="tel" th:value="${schoolNum}" id="schoolContact" class="form-control"
                                    placeholder="Enter Contact Number" required disabled>
                            </div>
                        </div>
                    </div>
                </div> <br>

                <div class="input-group-half">
                    <div class="settings-input">
                        <!-- School Logo Section -->
                        <div class="logo-container">
                            <label for="logoUpload" class="form-label"><b>School Logo</b></label>
                            <img id="previewLogo" th:src="@{/website-logo}" alt="Logo Preview" class="logo-circle">
                            <input type="file" class="form-control" id="logoUpload" accept="image/*" disabled>
                        </div>
                    </div>

                    <div class="settings-input">
                        <!-- School Cover Photo -->
                        <div class="cover-photo-container">
                            <label for="coverUpload"><b>Cover Photo</b></label>
                            <div class="logo-wrapper">
                                <img id="coverPreview" th:src="@{/website-cover}" alt="Cover Photo Preview"
                                    class="cover-preview">
                            </div>

                            <input type="file" class="form-control" id="coverUpload" accept="image/*" disabled>
                        </div>
                    </div>
                </div> <br>

                <div class="input-group-half">
                    <!-- Theme Settings Section -->
                    <div class="settings-input">
                        <div class="theme-container">
                            <label for="colorPicker" class="form-label"><b>Theme Color</b></label>
                            <input type="color" class="form-control form-control-color" id="colorPicker" value="#007bff"
                                title="Choose your color" disabled>
                        </div>
                    </div>

                    <div class="settings-input">
                        <label for="graduatingLevel" class="form-label"><b>Graduating Grade Level</b></label>
                        <select id="graduatingLevel" disabled>
                            <option value="">NONE</option>
                        </select>
                    </div>
                </div>
            </form>

            <!-- Centered Save Button -->
            <div class="save-button-wrapper">
                <button type="button" class="btn-cancel hidden" id="cancelButton">Cancel</button>

                <button type="button" data-action="updateSchoolSettings"
                    data-message="Are you sure you want to update the school settings?" data id="editButton"
                    class="btn-confirm">Edit</button>
            </div>

        </div>
        <br> <br>

        <h6 style="margin-left: 30px;"><strong>Other Settings</strong></h6>

        <!-- Table -->
        <div class="settings-main-container">
            <!-- Add Transferee Reqs Button -->
            <div class="header-short">
                <h6><strong>Transferee Requirements</strong></h6>
                <button id="add-btn">
                    <img th:src="@{/images/icons/add-button.png}" data-open-modal="transfereeReqModal" alt="Add Icon"
                        class="add-icon">
                </button>
            </div>
            <table id="lamesa" class="transferee-reqs-table main-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">No records</td>
                    </tr>
                </tbody>
            </table>
        </div> <br>


        <!-- Modal for adding a transferee req -->
        <div id="transfereeReqModal" class="transferee-req-modal modal">
            <div class="transferee-req-modal-content scroll-lock">
                <div class="modal-body">
                    <h2>Add New Transferee Requirement</h2>
                    <form method="post" action="" id="transfereeReqForm">
                        <label for="reqName">Requirement Name:</label>
                        <input type="text" id="reqName" name="reqName" required>
                        <br><br>
    
                       
                    </form>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn-confirm" data-action="addTransfereeReq"
                        data-message="Are you sure you want to add this transferee requirement?"
                        data-open-modal="confirmationModal">
                        Confirm
                    </button>
                    <button type="button" class="btn-cancel" data-close-modal="transfereeReqModal">Cancel</button>
                </div>
               
            </div>
        </div>

        <!-- Modal for editing the transferee requirement -->
        <div id="transfereeReqEditModal" class="transferee-req-edit-modal modal">
            <div class="transferee-req-edit-modal-content scroll-lock">

                <h2>Transferee Requirement Information</h2>
                <form method="post" action="" id="transfereeReqEditForm">
                    <label for="reqEditName">Requirement Name:</label>
                    <input type="text" id="reqEditName" name="reqName" required>
                    <br><br>

                    <div class="modal-buttons">
                        <button type="button" class="btn-confirm" id="editTransfereeReqButton"
                            data-action="editTransfereeReq"
                            data-message="Are you sure you want to update this fee?">Edit</button>
                        <button type="button" class="btn-cancel"
                            data-close-modal="transfereeReqEditModal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- Confirmation Modal -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="modalText"></p>
                <div class="modal-buttons">
                    <button id="confirmAction" class="btn-confirm">Confirm</button>
                    <button class="btn-close-confirm" data-close-modal="confirmationModal">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Error Modal -->
        <div id="errorModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="errorMessage"></p>
                <div class="modal-buttons">
                    <button class="error-btn-cancel" data-close-modal="errorModal">Close</button>
                </div>
            </div>
        </div>

        <!-- Success Modal -->
        <div id="successModalOverlay"></div>
        <div id="successModal">
            <p id="successModalMessage"></p>
        </div>
    </div>

    <script th:src="@{/js/school-settings.js}"></script>
</body>
<script>
    const editButton = document.getElementById("editButton");
    const cancelButton = document.getElementById("cancelButton");

    editButton.addEventListener("click", () => {

        // Show Cancel button
        cancelButton.classList.remove("hidden");
    });
    cancelButton.addEventListener("click", () => {
        // Revert text
        editButton.textContent = "Edit";

        // Hide Cancel button
        cancelButton.classList.add("hidden");
    });
    document.addEventListener("DOMContentLoaded", function () {
        setTableValues();
        setGraduatingLevel();
    });

    async function setTableValues() {
        const tableBody = document.querySelector("#lamesa tbody");

        const response = await fetch("/trans-req/all?isNotDeleted=true");
        if (!response.ok) {
            alert("Way sulod");
            return;
        }

        const result = await response.json();
        if (result.length === 0) return;
        tableBody.innerHTML = ``;
        result.forEach(transReq => {
            const row = document.createElement("tr");
            row.innerHTML = `
                    <tr>
                        <td>${transReq.name}</td>
                        <td>
                            <div class="action-container">
                                <div class="action">
                                    <img data-open-modal="transfereeReqEditModal" onclick="toeditId(${transReq.id},'${transReq.name}')" src="/images/icons/compose.png" alt="edit-icon">

                                    <img data-open-modal="confirmationModal" data-action="deleteTransfereeReq" data-id="${transReq.id}"
                                        data-message="Are you sure you want to delete this requirement?"
                                        src="/images/icons/bin.png" alt="delete-icon">
                                </div>
                            </div>
                        </td>
                    </tr>`;
            tableBody.appendChild(row);
        });
    }

    let selectedTransfereeReqId = null;

    document.addEventListener("click", (event) => {
        const target = event.target.closest('[data-action="deleteTransfereeReq"]');
        if (target) {
            selectedTransfereeReqId = target.dataset.id;
        }
    });

    function toeditId(selectedId, name) {
        document.getElementById("reqEditName").value = name;
        selectedTransfereeReqId = selectedId;
    }

    function addTransfereeReq() {
        const reqName = document.getElementById("reqName").value;
        fetch("/trans-req/add?reqName=" + encodeURIComponent(reqName), {
            method: "POST",
            headers: { "Content-Type": "application/json" }
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
                return response.text();
            })
            .then(text => {
                showSuccessModal("✅ Success: Record has been added successfully!");
                setTableValues();
            })
            .catch(error => {
                showErrorModal("❌ Error: " + error.message);
            });
    }

    function updateTransfRequirement() {
        const newName = document.getElementById("reqEditName").value;
        <!--        selectedTransfereeReqId-->
        fetch(`/trans-req/update/${selectedTransfereeReqId}?newName=${newName}`, {
            method: "PUT",
            headers: { "Content-Type": "application/json" }
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
                return response.text();
            })
            .then(text => {
                showSuccessModal("✅ Success: Record has been updated successfully!");
                setTableValues();
            })
            .catch(error => {
                showErrorModal("❌ Error:" + error);
            });
    }

    async function setGraduatingLevel() {
        const levelDropDown = document.getElementById("graduatingLevel");
        const response = await fetch("/graduatingLevel");
        var graduatingLevelId = 0;
        if (response.ok) {
            levelDropDown.innerHTML = ``;
            const graduatingLevel = await response.json();
            graduatingLevelId = graduatingLevel.levelId;
            const option = document.createElement("option");
            option.value = graduatingLevelId;
            option.textContent = graduatingLevel.levelName;
            option.selected = true;
            levelDropDown.appendChild(option);
        }

        const res = await fetch("/gradelevel/all");
        if (res.ok) {
            const gradeLevels = await res.json();
            gradeLevels.forEach(gradelvl => {
                if (gradelvl.levelId != graduatingLevelId) {
                    const option = document.createElement("option");
                    option.value = gradelvl.levelId;
                    option.textContent = gradelvl.levelName;
                    levelDropDown.appendChild(option);
                }
            });
        }
    }

    function deleteTransfereeReq() {
        fetch("/trans-req/delete/" + selectedTransfereeReqId, {
            method: "DELETE",
            headers: { "Content-Type": "application/json" }
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
                return response.text();
            })
            .then(text => {
                showSuccessModal("✅ Success: Record has been deleted successfully!");
                setTableValues();
            })
            .catch(error => {
                showErrorModal("❌ Error:" + error);
            });
    }

</script>

</html>