<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
<input type="text" name="" id="username">
<button onclick="sendResetLink()">Send reset request</button>

</body>
<script>
    function sendResetLink(){
        var username = document.getElementById("username").value;
        fetch(`/authentication/forgot-password?email=${username}`, {
            method: 'POST'
        })
            .then(response => {
                return response.text().then(message => {
                    if (response.ok) {
                        alert(message);
                    } else {
                        alert(message);
                    }
                });
            })
            .catch(error => {
                showErrorModal(error.message || "An unexpected error occurred."); // Show an error modal in case of failure
            });
}
</script>
</html>