<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Enter new password</h1>
<input type="password" name="" id="password">
<button onclick="updatePassword()">Reset Password</button>

</body>
<script>
    function updatePassword(){
        const newPassword = document.getElementById("password").value;
        const path = window.location.pathname; // e.g. "/reset-password/abc123"
        const parts = path.split('/');         // ["", "reset-password", "abc123"]
        const lastPart = parts[parts.length - 1];
        fetch(`/authentication/reset-password?token=${lastPart}&newPassword=${newPassword}`, {
            method: 'PUT'
        })
            .then(response => {
                return response.text().then(message => {
                    if (response.ok) {
                        alert(message);
                    } else {
                        alert(message);
                    }
                });
            })
            .catch(error => {
                showErrorModal(error.message || "An unexpected error occurred."); // Show an error modal in case of failure
            });
    }

</script>
</html>