<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script th:src="@{/js/script.js}"></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>

            <!-- Overlay -->
            <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

            <div class="text-link">
                <h4>Home</h4>
            </div>
        </div>

        <div class="welcome-card-wrapper">
            <div class="welcome-card-div">
                <div class="welcome-card">
                    <h2 class="welcome-salutation">Welcome to Your Student Portal!</h2>
                    <p>
                        This portal offers a secure and user-friendly platform for managing your
                        academic activities.
                        Beyond enrollment, students can also view their grades, check their schedule, and access
                        their profile with ease.
    
                        The system operates under strict principles of integrity, security, and responsible usage
                        Any unauthorized access, misuse, or tampering with the system is strictly prohibited.
                    </p>
                    <p>
                        For assistance or inquiries, you may also visit us at the Enrollment Office for further
                        support.
                    </p>
                </div>
            </div>
        </div>

      
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        getMyInfo();
    });

    async function getMyInfo() {
        //console.log("getting info");
        const response = await fetch("/user/student/my-info");

        if (response.ok) {
            const result = await response.json();
            //console.log(result);
        }
    }
</script>

</html>