<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<script th:src="@{/js/script.js}" defer></script>
<script th:src="@{/js/sidebar.js}" defer></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>

            <div class="text-link">
                <h4 id="grade-level-and-section-name">Grade 1 - Malunggay</h4>
                <p>Main</p>
                <p>/</p>
                <p>Maintenance</p>
                <p>/</p>
                <p>Schedule</p>
            </div>
        </div>
        <div class="sched-board">
            <div class="grade-lev-container">
                <h4 id="grade-level-and-section-name">Grade 1 - Malunggay</h4>
                <h4 id="adviser">Sir Jisun</h4>
            </div>


            <table id="paragas-eatery-table" class="sched-table main-table">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Day</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="scheduleBody">
                    <tr class="sched-row hidden-row">
                        <td>
                            <select name="subject">
                                <option value="" disabled selected>Choose a subject</option>
                            </select>
                        </td>
                        <td>
                            <select name="teacher">
                                <option value="" disabled selected>Choose a teacher</option>
                            </select>
                        </td>
                        <td>
                            <select name="days">
                                <option value="" disabled selected>Choose a day</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </td>
                        <td>
                            <input type="time">
                        </td>
                        <td>
                            <img class="delete-row" th:src="@{/images/icons/cross.png}" alt="">
                        </td>
                    </tr>
                </tbody>
            </table> <br>
        </div>

        <div class="btn-container">
            <button type="button" class="btn-confirm" id="addRowBtn">Add</button>
        </div>

        <!-- Error Modal -->
        <div id="errorModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="errorMessage"></p>
                <div class="modal-buttons">
                    <button class="error-btn-cancel" data-close-modal="errorModal">Close</button>
                </div>
            </div>
        </div>
        <!-- Background overlay -->
        <div id="successModalOverlay"></div>

        <!-- Success modal -->
        <div id="successModal">
            <p id="successModalMessage"></p>
        </div>

        <!-- Modal for confirmation -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="modalText"></p>
                <div class="modal-buttons">
                    <button type="button" id="confirmAction" class="btn-confirm">Confirm</button>
                    <button type="button" class="btn-cancel" data-close-modal="confirmationModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        setUpTables();
    });
    function setUpTables() {
        const path = window.location.pathname;

        const pathParts = path.split('/');
        const sectionId = pathParts[pathParts.length - 1];

        fetch(`/schedules/section/${sectionId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the response as JSON
            })
            .then(data => {
                const tableBody = document.querySelector("#paragas-eatery-table tbody");
                tableBody.innerHTML = "";

                data.forEach(rec => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <tr class="sched-row hidden-row">
                            <td>${rec.subject}</td>
                            <td>${rec.teacherName}</td>
                            <td>${rec.day}</td>
                            <td>${rec.timeStartString}</td>
                            <td>${rec.timeEndString}</td>
                            <td>
                                <button id="delete-btn" data-id="${rec.scheduleNumber}">Delete</button>
                                <img class="delete-row" th:src="@{/images/icons/cross.png}" alt="">
                                <button id="edit-btn" data-id="${rec.scheduleNumber}" data-subj-id=${rec.subjectId}
                                    data-teacher-id=${rec.teacherId} data-sect-id=${rec.sectionId} data-day=${rec.day}
                                    >Edit This</button>
                                <img class="edit-row" th:src="@{/images/icons/cross.png}" alt="">
                            </td>
                        </tr>
                        `;
                        attachedDeleteHandler(row);
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
    }
</script>

</html>