<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
<script th:src="@{/js/script.js}" defer></script>
<script th:src="@{/js/sidebar.js}" defer></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>

            <div class="text-link">
                <h4 id="grade-level-and-section-name">Grade 1 - Malunggay</h4>
                <p>Main</p>
                <p>/</p>
                <p>Maintenance</p>
                <p>/</p>
                <p>Schedule</p>
            </div>
        </div>
        <div class="sched-board">
            <div class="grade-lev-container">
                <h4 id="grade-level-and-section-name">Grade 1 - Malunggay</h4>
                <h4 id="adviser">Sir Jisun</h4>
            </div>


            <table id="paragas-eatery-table" class="sched-table main-table">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Day</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="scheduleBody">
                    <tr class="sched-row hidden-row">
                        <td>
                            <select name="subject">
                                <option value="" disabled selected>Choose a subject</option>
                            </select>
                        </td>
                        <td>
                            <select name="teacher">
                                <option value="" disabled selected>Choose a teacher</option>
                            </select>
                        </td>
                        <td>
                            <select name="days">
                                <option value="" disabled selected>Choose a day</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                            </select>
                        </td>
                        <td>
                            <input type="time">
                        </td>
                        <td>
                            <img class="delete-row" th:src="@{/images/icons/cross.png}" alt="">
                        </td>
                    </tr>
                </tbody>
            </table> <br>
        </div>

        <div class="btn-container">
            <button type="button" class="btn-confirm" id="addRowBtn">Add</button>
        </div>



        <!-- Modal for confirmation -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="modalText"></p>
                <div class="modal-buttons">
                    <button type="button" id="confirmAction" class="btn-confirm">Confirm</button>
                    <button type="button" class="btn-cancel" data-close-modal="confirmationModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        setUpTables();
    });

    function saveSchedule() {
        const path = window.location.pathname;

        const pathParts = path.split('/');
        const secId = pathParts[pathParts.length - 1];
        const subjectName = document.getElementById('subject-select').value;
        const teacher = document.getElementById('teacher-select').value;
        const day = document.getElementById('day').value;
        const startTime = document.getElementById('starttime').value;
        const endTime = document.getElementById('endtime').value;

        // Validate that all fields are filled
        if (!subjectName || !teacher || !day || !startTime || !endTime) {
            alert('Please fill in all fields.');
            return;
        } else if (startTime >= endTime) {
            alert('End time must be after start time.');
            return;
        }

        const data = {
            sectionId: secId,
            subject: subjectName,
            teacherName: teacher,
            day: day,
            timeStart: startTime,
            timeEnd: endTime
        };

        fetch('/schedules/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data) // Ensure `data` is defined and contains the required payload
        })
            .then(response => {
                return response.text().then(message => {
                    // Handle different status codes
                    if (response.ok) {
                        // Success (HTTP 200 OK)
                        alert(message); // Display the success message
                        window.location.reload(); // Reload the page
                    } else {
                        alert(message);
                    }
                });
            })
            .catch(error => {
                console.error('Error:', error);
                // Display the error message to the user
                alert(error.message);
            });
    }

    function setUpTables() {
        const path = window.location.pathname;

        const pathParts = path.split('/');
        const sectionId = pathParts[pathParts.length - 1];
        console.log(sectionId);

        fetch(`/schedules/section/${sectionId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json(); // Parse the response as JSON
            })
            .then(data => {
                const tableBody = document.querySelector("#paragas-eatery-table tbody");
                tableBody.innerHTML = "";

                data.forEach(rec => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <tr class="sched-row hidden-row">
                            <td>${rec.subject}</td>
                            <td>${rec.teacherName}</td>
                            <td>${rec.day}</td>
                            <td>${rec.timeStartString}</td>
                            <td>${rec.timeEndString}</td>
                            <td>
                                <button onClick="deleteThis(${rec.scheduleNumber})">Delete</button>
                                <img class="delete-row" th:src="@{/images/icons/cross.png}" alt="">
                            </td>
                        </tr>
                        `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
    }

    function deleteThis(schedId) {
        fetch('/schedules/delete/' + schedId, {
            method: 'DELETE'
        })
            .then(response => {
                return response.text().then(message => {
                    if (response.ok) {
                        alert(message);
                        window.location.reload();
                    } else {
                        alert(message);
                    }
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message);
            });
    }
</script>

</html>