<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script th:src="@{/js/script.js}" defer></script>
<script th:src="@{/js/sidebar.js}" defer></script>

<body>
<!-- Sidebar -->
<div th:replace="~{fragments/fragment :: sidebar}"></div>

<!-- Topbar with Hamburger & User Icon -->
<div class="dashboard-container" id="content">
    <div class="sticky-header">
        <!-- Topbar -->
        <div th:replace="~{fragments/fragment :: topbar}"></div>
        <!-- Overlay -->
        <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>

        <div class="text-link">
            <h4>Dashboard</h4>
        </div>
    </div>

    <div class="analytics-container" id="inner-content">
        <div class="sort-btns-container">
            <div class="sort-year">
                <label for="school-year">Year</label>
                <select name="year" onchange="setCounts(),setChartContents(),setGradesChart(),setUpGender()" id="school-year">
                    <option value="0" selected>All Time</option>
                </select>
            </div>
            <div class="sort-semester">
                <label for="semester-sort">Semester</label>
                <select name="semester" onchange="setCounts(),setChartContents(),setGradesChart()" id="semester-sort">
                    <option selected>All</option>
                    <option value="First">First</option>
                    <option value="Second">Second</option>
                </select>
            </div>
        </div>
        <div class="chart-box">
            <div class="card-container">
                <div class="card-grid">
                    <a th:href="@{/reports/enrollment}" class="card-link">
                        <div class="card">
                            <h3 class="card-title" id="num-enrolled"></h3>
                            <p class="card-label">Enrolled</p>
                        </div>
                    </a>

                    <a th:href="@{/statistics/enrollment}" class="card-link">
                        <div class="card">
                            <h3 class="card-title" id="num-pre-enrolled"></h3>
                            <p class="card-label">Pre-Enrolled</p>
                        </div>
                    </a>

                    <a href="/statistics/graduates" class="card-link">
                        <div class="card">
                            <h3 class="card-title" id="graduates-student"></h3>
                            <p class="card-label">Graduates</p>
                        </div>
                    </a>

                    <div class="card-row-center">
                        <a href="/statistics/passing-records" class="card-link">
                            <div class="card">
                                <h3 class="card-title" id="num-dropped"></h3>
                                <p class="card-label">Failed</p>
                            </div>
                        </a>

                        <a href="/statistics/passing-records" class="card-link">
                            <div class="card">
                                <h3 class="card-title" id="num-retained"></h3>
                                <p class="card-label">Passed</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-box-graph">
            <div class="graph-container">
                <div class="title">
                    <h6 id="graphTitle">Enrollment by Gender</h6>
                </div>
                <div class="graph">
                    <canvas id="enrollmentChart"></canvas>
                </div>
            </div>
        </div>

        <div class="chart-box">
            <div class="bar-graph-container">
                <div class="title-row-bar">
                    <h6 id="barGraphTitle">Subject Average Grades</h6>
                    <div class="filter-container-bar">
                        <label for="sort-bar-graph">Filter:</label>
                        <select onchange="setGradesChart()" name="sort" id="grade-levels">
                            <option value="0" selected>None</option>
                        </select>
                    </div>
                </div>

                <div class="bar-graph">
                    <canvas id="subjectRateChart"></canvas>
                </div>
            </div>
        </div>

        <div class="chart-box-graph">
            <div class="bar-graph-container">
                <div class="title-row-graph">
                    <h6 id="barGraphTitle">Grade Level Rates</h6>
                    <div class="filter-container-graph">
                        <label for="sort-bar-graph">Filter:</label>
                        <select name="sort" onchange="setChartContents()" id="sort-bar-graph">
                            <option value="failed" selected>Failing Rates</option>
                            <option value="passed">Passing Rates</option>
                        </select>
                    </div>
                </div>
                <div class="bar-graph">
                    <canvas id="retentionChart"></canvas>
                </div>
            </div>
        </div>

    </div> <br>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/schoolyear/all")
            .then(response => {
                if (!response.ok) { throw new Error(`HTTP error! Status: ${response.status}`); }
                return response.json();
            })
            .then(sys => {
                var school_year_dd = document.getElementById("school-year");
                sys.forEach(sy => {
                    let option = document.createElement("option");
                    option.value = sy.schoolYearNum;
                    option.textContent = sy.schoolYear;
                    school_year_dd.appendChild(option);
                });
            })
            .catch(error => {
                showErrorModal("Failed to retrieve School Years");
            });

        setChartContents();
        setCounts();
        setGradeLevels();
        setUpGender();
    });

        let enrollmentChart = null;
        async function setUpGender(){
            if (enrollmentChart) {
                enrollmentChart.destroy();
            }
            var sem = document.getElementById("semester-sort").value;
            var sy = document.getElementById("school-year").value;
            const response = await fetch(`/statistics/gender-rates?semester=${sem}&schoolYear=${sy}`)
            if(!response.ok){
                return;
            }
            var genderObj = await response.json();
            var gradeLabels = genderObj.gradeLevelNames;
            var gradeRates = genderObj.gradeLevelCounts;
            var enrollmentCanvas = document.getElementById('enrollmentChart').getContext('2d');
            const graphTitle = document.getElementById('graphTitle');
            enrollmentChart = new Chart(enrollmentCanvas, {
                type: 'doughnut',
                data: {
                    labels: gradeLabels,
                    datasets: [{
                        data: gradeRates,
                        backgroundColor: ['blue', 'red']
                    }]
                },
                options: {
                    responsive: true,
                    layout: {
                        padding: {
                            top: 0,
                            right: 20,
                            bottom: 50,
                            left: 0
                        }
                    },
                    plugins: {
                        legend: { display: true, position: 'right' }
                    }
                }
            });
            enrollmentChart.update();
        }


    async function setCounts() {
        var sem = document.getElementById("semester-sort").value;
        var sy = document.getElementById("school-year").value;
        const response = await fetch(`/statistics/counts?semester=${sem}&schoolYear=${sy}`);
        if (response.ok) {
            const counts = await response.json();
            //console.log(counts);
            setFirstTableContents(counts.enrolledCount,
                counts.preEnrolledCount,
                counts.graduatesCount,
                counts.passedCount,
                counts.retainedCount);
        } else {
            setFirstTableContents(0, 0, 0, 0, 0);
        }
    }
    function setFirstTableContents(enrolled, pre_enrolled, graduates, passed, failed) {
        document.getElementById("num-enrolled").textContent = enrolled;
        document.getElementById("num-pre-enrolled").textContent = pre_enrolled;
        document.getElementById("graduates-student").textContent = graduates;
        document.getElementById("num-dropped").textContent = failed;
        document.getElementById("num-retained").textContent = passed;
    }

    let retentionChart = null;
    async function setChartContents() {
        // Destroy existing chart if it exists
        if (retentionChart) {
            retentionChart.destroy();
        }

        var sem = document.getElementById("semester-sort").value;
        var sy = document.getElementById("school-year").value;
        var didPassed = document.getElementById("sort-bar-graph").value === "passed";
        var gradeLabels = [];
        var gradeRates = [];

        const response = await fetch(`/statistics/rates?semester=${sem}&schoolYear=${sy}&didPassed=${didPassed}`);
        if (response.ok) {
            const ratesResult = await response.json();
            gradeLabels = ratesResult.gradeLevelNames;
            gradeRates = ratesResult.gradeLevelCounts;
        }

        const retentionCanvas = document.getElementById('retentionChart').getContext('2d');
        retentionChart = new Chart(retentionCanvas, {
            type: 'bar',
            data: {
                labels: gradeLabels,
                datasets: [{
                    label: 'Retention Rates',
                    data: gradeRates,
                    backgroundColor: 'rgba(210, 90, 90, 0.7)'
                }]
            },
            options: {
                responsive: true,
                scales: { y: { beginAtZero: true, max: 100 } },
                plugins: { legend: { display: false } }
            }
        });
    }

    async function setGradeLevels(){
        const response = await fetch("/gradelevel/all");
        if(response.ok){
            const gradeLevels = await response.json();
            var gradeLevelsSelect = document.getElementById("grade-levels");
            
            if(gradeLevels.length > 0){
                gradeLevelsSelect.innerText = "";
                var i = 0;
                gradeLevels.forEach(gradeLvl => {
                    var opt = document.createElement("option");
                    opt.value = gradeLvl.levelId;
                    opt.textContent = gradeLvl.levelName;
                    // console.log(gradeLvl);
                    if(i === 0){
                        opt.selected = true;
                        i++;
                    }

                    gradeLevelsSelect.appendChild(opt);
                });
            }
        }

        setGradesChart();
    }

    var subjectRateChart = null;
    async function setGradesChart() {
        if (subjectRateChart) {
            // console.log("Destroy Now");
            subjectRateChart.destroy();
        }

        var sem = document.getElementById("semester-sort").value;
        var sy = document.getElementById("school-year").value;
        var levelId = document.getElementById("grade-levels").value;
        var gradeLabels = [];
        var gradeRates = [];

        const response = await fetch(`/statistics/subject-rates?semester=${sem}&schoolYear=${sy}&levelId=${levelId}`);
        if (response.ok) {
            const ratesResult = await response.json();
            gradeLabels = ratesResult.subjectNames;
            gradeRates = ratesResult.avgGrades;
        }

        const retentionCanvas = document.getElementById('subjectRateChart').getContext('2d');
        subjectRateChart = new Chart(retentionCanvas, {
            type: 'bar',
            data: {
                labels: gradeLabels,
                datasets: [{
                    label: 'Retention Rates',
                    data: gradeRates,
                    backgroundColor: 'rgba(210, 90, 90, 0.7)'
                }]
            },
            options: {
                responsive: true,
                scales: { y: { beginAtZero: true, max: 100 } },
                plugins: { legend: { display: false } }
            }
        });
    }
</script>


</html>