<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<body>
<div class="wrapper">
    <div id="left-login-block">
        <img th:src="@{/website-cover}" alt="bg">
    </div>
    <div id="right-login-block">
        <img th:src="@{/website-logo}" alt="school-logo" class="school-logo"> <br>
        <h3 th:text="${schoolName}" style="text-transform:uppercase;"></h3>

        <!-- Display error message if it exists -->
        <div th:if="${param.error}" class="error-message">
            <p th:text="${param.error}"></p>
        </div>

        <form   action="/login" method="post" id="login-form">
            <div class="input-group">
                <input class="input-group-input" type="email" name="username" id="username" required placeholder=" ">
                <label class="input-group-label" for="username">Email</label>
            </div>
        
            <div class="input-group">
                <input class="input-group-input" type="password" name="password" id="password" required placeholder=" ">
                <label class="input-group-label" for="password">Password</label>
            </div>
        
            <a href="/forgot-password" id="forgot-pass">Forgot Password?</a> <br> <br>
            <button type="submit" id="login-btn">Log In</button>
        </form>
    </div>
    <div id="errorModal" class="modal">
        <div class="modal-content scroll-lock">
            <p id="errorMessage"></p>
            <div class="modal-buttons">
                <button class="error-btn-cancel" data-close-modal="errorModal">Close</button>
            </div>
        </div>
    </div>
    <!-- Background overlay -->
    <div id="successModalOverlay"></div>

    <!-- Success modal -->
    <div id="successModal">
        <p id="successModalMessage"></p>
    </div>
</div>
</body>
<script th:src="@{/js/script.js}" defer></script>

<script>
document.getElementById('login-form').addEventListener('submit', function (event) {
    event.preventDefault();

    const form = event.target;
    const formData = new FormData(form);

    fetch("/user-login", {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (response.ok) {
            window.location.href = '/home';  
        } else {
            return response.text().then(text => {
                showErrorModal(text);
            });
        }
    })
    .catch(error => {
        showErrorModal('Error:', error);
    });
});


</script>

</body>

</html>