<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al-Furqan Islamic Institute Incorporated</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div id="left-login-block">
        <img th:src="@{/images/al-furqan-bg.jpg}" alt="bg">
    </div>
    <div id="right-login-block">
        <img th:src="@{/images/al-furqanlogo.jpg}" alt="logo" id="school-logo"> <br> <br>
        <h3>Al-Furqan Islamic Institute Inc.</h3>

        <!-- Display error message if it exists -->
        <div th:if="${param.error}" class="error-message">
            <p th:text="${param.error}"></p>
        </div>

        <form action="/login" method="post" id="login-form">
            <div class="input-group">
                <input class="input-group-input" type="email" name="username" id="username" required placeholder=" ">
                <label class="input-group-label" for="username">Email</label>
            </div>
        
            <div class="input-group">
                <input class="input-group-input" type="password" name="password" id="password" required placeholder=" ">
                <label class="input-group-label" for="password">Password</label>
                <img th:src="@{/images/icons/hidden-pass.png}" alt="Show Password" class="toggle-password" id="togglePassword">
            </div>
            
        
            <a href="" id="forgot-pass">Forgot Password?</a> <br> <br>
            <button type="submit" id="login-btn">Log In</button>
        </form>
        
        <h4 id="signup-link">Don't have an account? <a onclick="proceed('signing')">Sign up here.</a></h4>
    </div>
</div>
</body>
<script th:src="@{/js/publicip.js}" defer></script>
<script th:src="@{/js/script.js}" defer></script>

<script>
    document.getElementById('login-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                alert('Go to Dashboard');
                window.location.href = '/home';
            } else {
                return response.json(); // Parse the error response
            }
        })
        .then(data => {
            if (data && data.error) {
                // Alert the error message
                alert(data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

</body>

</html>