<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>

<body>
    <div class="wrapper">
        <div id="left-login-block">
            <img th:src="@{/website-cover}" alt="bg">
        </div>
        <div id="right-login-block">
            <div id="signup-header">
                <img th:src="@{/website-logo}" alt="school-logo" id="school-logo"> <br> <br>
                <h3 th:text="${schoolName}" style="text-transform:uppercase;"></h3>
            </div>
            <form action="/register/add" method="post" id="signup-form">
                <label class="normal-label" for="name">Full Name</label>
                <div class="input-group-half">
                    <div class="input-group">
                        <input class="input-group-input" type="text" name="firstname" id="firstname"
                            placeholder="First Name" required>
                    </div>
                    <div class="input-group">
                        <input class="input-group-input" type="text" name="lastname" id="lastname"
                            placeholder="Last Name">
                    </div>
                    <div class="input-group">
                        <input class="input-group-input" type="text" name="middlename" id="middlnamee"
                            placeholder="Optional">
                    </div>
                </div>
                <div class="input-group">
                    <input class="input-group-input" type="email" name="username" id="email" placeholder="" required>
                    <label class="input-group-label" for="email">Email</label>
                </div>

                <div class="input-group">
                    <div class="account-type-div">
                        <label class="normal-label" for="gender">Gender</label>
                        <select name="gender" id="gender" required>
                            <option value="">Choose a gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <div class="account-type-div">
                        <label class="normal-label" for="address">Birthdate</label>
                        <input type="date" id="birthdate" name="birthdate" required>
                    </div>
                </div>
                <div class="input-group">
                    <input class="input-group-input" type="text" name="address" id="address" placeholder="" required>
                    <label class="input-group-label" for="address">Address</label>
                </div>

                <div class="input-group">
                    <input class="input-group-input" type="tel" name="contactNumber" id="contactNumber" placeholder=""
                        required>
                    <label class="input-group-label" for="contactNumber">Contact Number</label>
                </div>
                <div class="input-group">
                    <input class="input-group-input" type="password" name="password" id="password" required
                        placeholder=" ">
                    <label class="input-group-label" for="password">Password</label>
                    <img th:src="@{/images/icons/hidden-pass.png}" alt="Show Password" class="toggle-password"
                        id="togglePassword">
                </div>

                <button type="submit" id="login-btn">Sign Up</button>
            </form>
            <h4 id="signup-link">Already have an account? <a href="/login">Log in here.</a></h4>
        </div>

        <!-- Error Modal -->
        <div id="errorModal" class="modal">
            <div class="modal-content">
                <p id="errorMessage"></p>
                <div class="modal-buttons">
                    <button class="error-btn-cancel" data-close-modal="errorModal">Close</button>
                </div>
            </div>
        </div>

        <!-- Background overlay -->
        <div id="successModalOverlay"></div>

        <!-- Success modal -->
        <div id="successModal">
            <p id="successModalMessage"></p>
        </div>
    </div>


</body>
<script th:src="@{/js/script.js}" defer></script>
<script>
    document.getElementById('signup-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission
        const form = event.target;
        const formData = new FormData(form);
        console.log(formData);

        fetch(form.action, {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.text().then(text => {
                        showSuccessModal("✅ Account has been created successfully! This record will be sent for approval.");
                    });
                } else {
                    return response.text().then(text => {
                        showErrorModal("An unexpected error occurred. Please try again.");
                    });
                }
            })
            .catch(error => {
                showErrorModal("An unexpected error occurred. Please try again.");
            });
    });
</script>

</html>