<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/fragment :: commonHead}">
</head>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <!-- Topbar -->
        <div th:replace="~{fragments/fragment :: topbar}"></div>
        <div class="text-link">
            <h4>Grade Management</h4>
            <p>Main</p>
            <p>/</p>
            <p>Grade Management</p>
        </div>

        <div class="search-div">
            <!-- Searchbox and sort btn -->
            <div class="search">
                <div class="search-container">
                    <input type="text" placeholder="Search..." class="search-input" />
                    <button class="search-btn">Search</button>
                </div>
                <div class="sort-container">
                    <select name="sort" id="sort-select" class="sort-select">
                        <option value="" disabled selected>Sort</option>
                        <option value="patient-number">Patient Number</option>
                        <option value="patient-name">Patient Name</option>
                        <option value="patient-sex">Sex</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Table -->
        <table id="lamesa" class="grade-management-table">
            <thead>
                <tr>
                    <th>Subject Name</th>
                    <th>Grade Level</th>
                    <th>Number of section/s</th> <!--Rename to something that indicates how many sections a teacher is teaching with this subject-->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">No Records Found</td>
                </tr>
            </tbody>
        </table>
        <!-- Modal for status -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="modalText"></p>
                <div class="modal-buttons">
                    <button id="confirmAction" class="btn-confirm">Confirm</button>
                    <button class="btn-cancel" data-close-modal="confirmationModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        getSections();
    });

    function getSections() {
        fetch("/schedules/test")
            .then(res => {
                if (!res.ok) throw new Error("Failed to fetch grade levels");
                return res.json();
            })
            .then(data => {
                const tableBody = document.querySelector("#lamesa tbody");
                tableBody.innerHTML = "";

                data.forEach(sub => {
                    console.log(sub);
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <tr>
                            <td>${sub.subject.subjectName}</td>
                            <td>${sub.subject.gradeLevel.levelName}</td>
                            <td>${sub.count}</td>
                            <td>
                                <div class="action-container">
                                    <a href="/grade-management/sections/${sub.subject.subjectNumber}" class="view-sched">View Sections</a>
                                </div>
                            </td>
                        </tr>
                        `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error("Error:", error));
    }
</script>

</html>