@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Montagu Slab";
  src: url("fonts/MontaguSlab-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  color: rgb(30, 30, 30);
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#right-login-block {
  background-color: rgb(255, 255, 255);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#right-login-block h3 {
  width: 50%;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
}
#school-logo {
  height: 150px;
  width: 150px;
}

#left-login-block {
  background-color: rgb(101, 224, 104);
  width: 60%;
}
#left-login-block img {
  opacity: 30%;
  width: 100%;
}
#login-form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 50%;
}
#forgot-pass {
  width: 100%;
  display: flex;
  justify-content: end;
  align-self: flex-end;
  text-decoration: none;
  margin-top: -13px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(30, 30, 30);
}
#forgot-pass:hover {
  color: rgb(4, 210, 9);
  text-decoration: underline;
}
#login-btn {
  background-color: rgb(4, 210, 9);
  color: white;
  font-weight: 700;
  font-size: 17px;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #333;
  padding: 8px 0;
  font-size: 16px;
  outline: none;
  background: transparent;
}

.input-group-label {
  position: absolute;
  left: 0;
  bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  pointer-events: none;
}

#signup-link {
  margin-top: 10px;
  font-size: 13px;
  color: rgb(30, 30, 30);
  text-align: center;
  font-weight: 500;
}
#signup-link a {
  font-weight: 600;
  color: rgb(30, 30, 30);
}
#signup-link a:hover {
  color: rgb(4, 210, 9);
}

#signup-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group-half {
  display: flex;
  gap: 50px;
}

.normal-label {
  left: 0;
  bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  pointer-events: none;
}
#account-type-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
#account-type-div select {
  width: 100%;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #333;
  outline: none;
  font-size: 13px;
  background: transparent;
}

/* This is for the dashboard */
.welcome-div {
  display: flex;
  height: 55px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid rgba(30, 30, 30, 0.55);
  border-top: 1.5px solid rgb(30, 30, 30, 0.55);
}
.sidebar {
  width: 320px;
  background: rgb(246, 246, 246);
  max-height: 100vh;
  color: white;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  transition: 0.3s;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar a {
  color: rgb(30, 30, 30);
  padding: 15px;
  padding-left: 20px;
  display: block;
  text-decoration: none;
}
.sidebar a.active {
  background: rgb(52, 217, 56);
  font-weight: bold;
}
.submenu a.second-active {
  border-bottom: 2px solid rgb(52, 217, 56);
  display: inline-block; /* Adjust width based on text */
  font-weight: bold;
  padding-bottom: 4.5px;
}

.submenu {
  display: none;
  max-height: 0;
  padding-left: 20px;
  background-color: rgb(198, 239, 199);
  opacity: 0;
}
.submenu.show {
  display: block;
  max-height: 500px;
}
.submenu:last-child {
  margin-bottom: 20px;
}

.submenu.open {
  display: block;
  max-height: 500px; /* Adjust based on submenu height */
  opacity: 1;
}

.submenu a {
  display: block;
  column-gap: 20px;
  padding: 12px 0px;
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-size: 14px;
}
.submenu a:first-child {
  padding-top: 15px;
}
.submenu a:last-child {
  padding-bottom: 15px;
}

.submenu a:hover {
  text-decoration: underline;
}
.dashboard-container {
  margin-left: 320px;
  padding: 20px;
  transition: margin-left 0.3s;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.account-text {
  font-size: 15px;
  font-weight: 900;
  color: rgb(30, 30, 30);
}
.text-center {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: rgb(30, 30, 30);
}
.text-center p {
  margin: 15px;
}
.card {
  border-bottom: 5px solid #27ae60;
  background-color: rgb(246, 246, 246);
}
.card-div {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  row-gap: 30px;
}
.card-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 800;
  text-align: center;
}
.card-label {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: rgb(30, 30, 30);
}
.logo img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.main-topbar {
  display: flex;
  gap: 20px;
  justify-content: start;
}
.user-icon {
  font-size: 24px;
  cursor: pointer;
}
.hamburger img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.collapsed-sidebar {
  display: none;
}
.collapsed-content {
  margin-left: 0 !important;
}
.institute-name {
  font-size: 20px;
  font-weight: 900;
  color: rgb(30, 30, 30);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.text-link {
  display: flex;
  gap: 30px;
  padding: 10px 0px;
}
.text-link h4 {
  font-size: 20px;
  font-weight: bold;
}
.text-link p {
  display: inline;
  margin: 0 -5px;
  font-size: 13px;
  font-weight: 500;
}

.text-link a {
  color: rgb(30, 30, 30);
  text-decoration: none;
}
.text-link a:hover {
  text-decoration: underline;
}
.sidebar-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  color: rgb(30, 30, 30);
  padding: 10px 15px;
  position: relative;
}
.sidebar-icons img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.arrow-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.arrow-icon img {
  width: 13px;
  height: 15px;
}
.second-arrow-icon {
  position: absolute;
  right: 25px;
  top: 52%;
  transform: translateY(-50%);
}
.third-arrow-icon {
  position: absolute;
  right: 25px;
  top: 88%;
  transform: translateY(-50%);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 130%;
  transform: translateX(-80%);
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 160px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
}

.dropdown-content a {
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin: 0px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content h6 {
  background-color: #d8d6d6;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}
.dropdown-content span {
  font-weight: bold;
  font-size: 15px;
}

.dropdown-logout-content {
  display: none;
  position: absolute;
  top: 10%;
  transform: translateX(-80%);
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 160px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-logout-content.show {
  display: block;
  opacity: 1;
}

.dropdown-logout-content a {
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin: 0px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-logout-content h6 {
  background-color: #d8d6d6;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
}
.dropdown-logout-content span {
  font-weight: bold;
  font-size: 15px;
}

.dropdown-toggle::after {
  content: none !important;
}
.dropdown-logout-toggle::after {
  content: none !important;
}
.dropdown-content a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.dropdown-logout-content a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* This is for listing page */
.enrollment-buttons {
  justify-content: center;
  display: flex;
  gap: 100px;
  padding: 10px;
}
.enrollment-buttons :hover {
  cursor: pointer;
  transform: scale(1.03);
}
.enrollment-buttons button {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 30px;
  font-weight: bold;
  font-size: 1.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.enrollment-buttons .new-student {
  background-color: rgb(104, 228, 107);
}
.enrollment-buttons #old-student {
  background-color: rgb(163, 163, 163);
}
.enrollment-buttons #transferee {
  background-color: rgb(206, 221, 45);
}

/* Style the main container */
.search {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  margin-bottom: 20px;
}

/* Style the search container */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Style the sort container */
.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style the search input */
.search-input {
  padding: 5px 12px;
  width: 350px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  flex: 1;
}
/* Style for the sort select */
.sort-select {
  padding: 5px 9px;
  width: 150px;
  color: #666;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
  flex: 1;
}

select option[value=""] {
  background-color: #ccc;
}
/* Style the buttons */
.search-btn {
  width: 80px;
  height: 36px;
  font-size: 16px;
  color: white;
  background-color: #575859;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #333;
}

.search-div {
  padding: 50px 50px 0px 50px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
th {
  text-align: center;
  background-color: rgb(87, 88, 89);
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.listing-table th:nth-child(1),
.listing-table td:nth-child(1) {
  width: 10%;
}
.listing-table th:nth-child(2),
.listing-table td:nth-child(2) {
  width: 30%;
}
.listing-table th:nth-child(3),
.listing-table td:nth-child(3) {
  width: 20%;
}
.listing-table th:nth-child(4),
.listing-table td:nth-child(4) {
  width: 15%;
}
.listing-table th:nth-child(5),
.listing-table td:nth-child(5) {
  width: 20%;
}

/* for grade management table */
.grade-management-table th:nth-child(1),
.grade-management-table td:nth-child(1) {
  width: 15%;
}
.grade-management-table th:nth-child(2),
.grade-management-table td:nth-child(2) {
  width: 15%;
}
.grade-management-table th:nth-child(3),
.grade-management-table td:nth-child(3) {
  width: 30%;
}
.grade-management-table th:nth-child(4),
.grade-management-table td:nth-child(4) {
  width: 20%;
}

/* for grade level (maintenance */
.grade-level-table th:nth-child(1),
.grade-level-table td:nth-child(1) {
  width: 40%;
}
.grade-level-table th:nth-child(2),
.grade-level-table td:nth-child(2) {
  width: 30%;
}
.grade-level-table th:nth-child(3),
.grade-level-table td:nth-child(3) {
  width: 15%;
}

/* for grade-per-class */
.grade-per-class-table th:nth-child(1),
.grade-per-class-table td:nth-child(1) {
  width: 40%;
}
.grade-per-class-table th:nth-child(2),
.grade-per-class-table td:nth-child(2) {
  width: 30%;
}
.grade-per-class-table th:nth-child(3),
.grade-per-class-table td:nth-child(3) {
  width: 15%;
}

/* for grade level (maintenance) */
.school-year-table th:nth-child(1),
.school-year-table td:nth-child(1) {
  width: 30%;
}
.school-year-table th:nth-child(2),
.school-year-table td:nth-child(2) {
  width: 20%;
}
.school-year-table th:nth-child(3),
.school-year-table td:nth-child(3) {
  width: 15%;
}

/* for section (maintenance) */
.section-table th:nth-child(1),
.section-table td:nth-child(1) {
  width: 20%;
}
.section-table th:nth-child(2),
.section-table td:nth-child(2) {
  width: 20%;
}
.section-table th:nth-child(3),
.section-table td:nth-child(3) {
  width: 15%;
}
.section-table th:nth-child(4),
.section-table td:nth-child(4) {
  width: 15%;
}
.section-table th:nth-child(5),
.section-table td:nth-child(5) {
  width: 15%;
}
.section-table th:nth-child(6),
.section-table td:nth-child(6) {
  width: 15%;
}

/* for subject table (maintenance) */
.subject-table th:nth-child(1),
.subject-table td:nth-child(1) {
  width: 13%;
}
.subject-table th:nth-child(2),
.subject-table td:nth-child(2) {
  width: 18%;
}
.subject-table th:nth-child(3),
.subject-table td:nth-child(3) {
  width: 12%;
}
.subject-table th:nth-child(4),
.subject-table td:nth-child(4) {
  width: 20%;
}
.subject-table th:nth-child(5),
.subject-table td:nth-child(5) {
  width: 12%;
}
.subject-table th:nth-child(6),
.subject-table td:nth-child(6) {
  width: 10%;
}

/* for teacher table (maintenance) */
.teacher-table th:nth-child(1),
.teacher-table td:nth-child(1) {
  width: 10%;
}
.teacher-table th:nth-child(2),
.techer-table td:nth-child(2) {
  width: 18%;
}
.teacher-table th:nth-child(3),
.teacher-table td:nth-child(3) {
  width: 18%;
}
.teacher-table th:nth-child(4),
.teacher-table td:nth-child(4) {
  width: 10%;
}
.teacher-table th:nth-child(5),
.teacher-table td:nth-child(5) {
  width: 10%;
}

/* for verify-accounts table */
.verify-accounts-table th:nth-child(1),
.verify-accounts-table td:nth-child(1) {
  width: 20%;
}
.verify-accounts-table th:nth-child(2),
.verify-accounts-table td:nth-child(2) {
  width: 30%;
}
.verify-accounts-table th:nth-child(3),
.verify-accounts-table td:nth-child(3) {
  width: 20%;
}
.verify-accounts-table th:nth-child(4),
.verify-accounts-table td:nth-child(4) {
  width: 15%;
}
.verify-accounts-table th:nth-child(5),
.verify-accounts-table td:nth-child(5) {
  width: 20%;
}

table td {
  text-align: center;
}

.status-container {
  justify-content: center;
  align-items: center;
}

.listing-table,
.grade-management-table,
.grade-level-table,
.school-year-table,
.subject-table,
.teacher-table,
.section-table,
.verify-accounts-table {
  width: 91.5%;
  margin: 0px 50px;
}

.status {
  background-color: #28a745;
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  font-weight: 500;
  width: 105px;
  font-size: 13px;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pending {
  background-color: rgb(206, 221, 45);
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  font-weight: 500;
  width: 105px;
  font-size: 13px;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action img {
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  font-weight: 500;
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#action-verify-account img {
  color: white;
  padding: 5px 0px;
  border-radius: 5px;
  font-weight: 500;
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action img:hover {
  cursor: pointer;
}
#status-grade-level {
  width: 185px;
}
#status-school-year {
  width: 140px;
}
#status-teacher {
  width: 100px;
}
.dropdown {
  /* cursor: pointer; */
  padding: 5px;
}
.dropdown {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.dropdown-logout {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.status-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.dropdown-status-content {
  display: none;
  position: absolute;
  text-align: start;
  top: 20%;
  transition: opacity 0.3s ease;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  font-size: 13px;
}

.dropdown-status-btn {
  outline: none;
  border: none;
  background-color: transparent;
}

/* Dropdown items */
.dropdown-status-content a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

/* Hover effect for dropdown items */
.dropdown-status-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-status-content {
  display: block;
}

/* modal design */
.modal {
  justify-content: center;
  align-items: center;
  align-content: center;
  visibility: hidden;
  display: flex;
  opacity: 0;
  position: fixed;
  z-index: 99999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}
.modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  min-width: 500px;
  max-width: 450px;
  min-height: 200px;
  max-height: 200px;
  text-align: center;
}

.modal-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-confirm {
  background-color: #28a745;
  color: white;
  width: 100px;
  font-weight: 500;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
  width: 100px;
  font-weight: 500;
}

/* student modal and teacher modal*/
.student-modal,
.teacher-modal,
.teacher-edit-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.student-modal.show,
.teacher-modal.show,
.teacher-edit-modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.student-modal-content {
  overflow-y: scroll;
}

.student-modal-content,
.teacher-modal-content,
.teacher-edit-modal-content {
  background: white !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  min-height: 80vh;
  max-height: 90vh;
  text-align: left;
  position: relative;
  z-index: 1001;
}

.my-account-edit-modal {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}
.my-account-edit-modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.my-account-edit-modal-content {
  background: white !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  min-height: 55vh;
  text-align: left;
  position: relative;
  z-index: 1001;
}

/* design for change password modal */
.change-password-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}
.change-password-modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.change-password-modal-content {
  background: white !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 450px;
  height: 75vh;
  text-align: left;
  position: relative;
  z-index: 1001;
}
.change-pass-buttons {
  width: 80%;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin-top: 10px;
}
.change-pass-buttons button {
  width: 100%;
}
.change-pass-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;
}
.change-pass-div:nth-child(3) {
  margin: -20px 0px;
}

.change-pass-div ul {
  margin-left: 8px;
  padding-left: 8px;
  font-size: 12px;
}
#changePasswordForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.student-modal-content h2,
.grade-level-modal-content h2,
.school-year-modal-content h2,
.subject-modal-content h2,
.teacher-modal-content h2,
.section-modal-content h2,
.grade-level-edit-modal-content h2,
.section-edit-modal-content h2,
.subject-edit-modal-content h2,
.teacher-edit-modal-content h2,
.my-account-edit-modal-content h2,
.change-password-modal-content h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.student-modal-content label,
.grade-level-modal-content label,
.school-year-modal-content label,
.subject-modal-content label,
.teacher-modal-content label,
.section-modal-content label,
.grade-level-edit-modal-content label,
.section-edit-modal-content label,
.subject-edit-modal-content label,
.teacher-edit-modal-content label,
.my-account-edit-modal-content label,
.change-password-modal-content label {
  font-weight: 500;
  font-size: 14px;
}

.student-modal-content input,
.grade-level-modal-content input,
.school-year-modal-content input,
.subject-modal-content input,
.teacher-modal-content input,
.section-modal-content input,
.grade-level-edit-modal-content input,
.section-edit-modal-content input,
.subject-edit-modal-content input,
.teacher-edit-modal-content input,
.my-account-edit-modal-content input,
.change-password-modal-content input,
.student-modal-content select,
.school-year-modal-content select,
.grade-level-modal-content select,
.subject-modal-content select,
.teacher-modal-content select,
.section-modal-content select,
.grade-level-edit-modal-content select,
.section-edit-modal-content select,
.subject-edit-modal-content select,
.teacher-edit-modal-content select,
.my-account-edit-modal-content select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
/* grade level modal and school year modal*/
.grade-level-modal,
.school-year-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.grade-level-modal.show,
.school-year-modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.grade-level-modal-content,
.school-year-modal-content {
  background: white !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 40vh;

  text-align: left;
  position: relative;
  z-index: 1001;
}

/* subject modal */
.subject-modal,
.subject-edit-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.subject-modal.show,
.subject-edit-modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.subject-modal-content,
.subject-edit-modal-content {
  background: white !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  height: 68vh;
  text-align: left;
  position: relative;
  z-index: 1001;
}

/* section modal */
.section-modal,
.section-edit-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.section-modal.show,
.section-edit-modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.section-modal-content,
.section-edit-modal-content {
  background: white !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 600px;
  min-height: 50vh;
  text-align: left;
  position: relative;
  z-index: 1001;
}
.section-modal-content form,
.subject-modal-content form,
.subject-edit-modal-content form,
.section-edit-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* for grade level edit */
.grade-level-edit-modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.grade-level-edit-modal.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.grade-level-edit-modal-content {
  background: white !important;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  height: 50vh;

  text-align: left;
  position: relative;
  z-index: 1001;
}

.student-form-group,
.subject-form-group {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 20px;
}
.student-form-group input {
  width: 200px;
}
.subject-form-group {
  margin-bottom: 20px;
}

.student-form-group select {
  font-size: 13px;
  width: 200px;
  margin-left: 20px;
}
#subjectForm select {
  font-size: 13px;
}
#birthdate {
  font-size: 14px;
}
#gradeLevelOld,
#gradeLevelNew {
  width: 23.7%;
}

.inputID {
  width: 400px;
  margin-bottom: 20px;
  gap: 0;
}
.inputID select {
  height: 45px;
  width: 200px;
  margin-right: 100px;
}

#subjectID,
#subjectName {
  width: 30.5%;
}
#studentForm h6 {
  font-weight: bold;
  font-size: 15px;
}
#teacherForm h6,
#teacherEditForm h6 {
  font-weight: bold;
  font-size: 15px;
}

.add-something-btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}
.add-something-btn:hover {
  background-color: #218838;
}
.add-something-btn-container {
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 40px 50px 0px 0px;
}

.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
}

/* Green for Active */
.active {
  background-color: green;
}

/* Red for Inactive */
.inactive {
  background-color: red;
}

.my-account-container {
  padding: 20px;
  background-color: rgb(246, 246, 246);
  display: flex;
  width: 100%;
  border: 1.5px solid rgba(30, 30, 30, 0.2);
  flex-direction: column;
  gap: 30px;
}
.my-account-container label {
  font-weight: bold;
  font-size: 14px;
}
#user-id-label {
  font-size: 16px;
  color: #218838;
  font-weight: bold;
}
.my-account-container p {
  font-size: 14px;
}
.my-account-container div {
  display: flex;
  gap: 10px;
}
.half-width {
  display: flex;
  gap: 40px;
}

.first-name,
.last-name,
.user-id,
.email {
  align-items: center;
  display: flex;
  gap: 10px;
  width: 100%;
}
.first-name p,
.last-name p,
.user-id p,
.email p {
  margin: 0;
}
.email {
  display: flex;
  gap: 45px;
  align-items: center;
}
.my-account-container-wrapper {
  width: 50%;
}

.change-password-container {
  display: flex;
  width: 100%;
  justify-content: end;
}
.change-password-container button {
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  background-color: transparent;
}
.change-password-container button:hover {
  text-decoration: underline;
}
.edit-account-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
.edit-account-container button {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  background-color: #28a745;
  color: white;
}
.edit-account-container button:hover {
  background-color: #218838;
}
