<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al-Furqan Islamic Institute Incorporated</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0//css/bootstrap.min.css}">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <script th:src="@{https://kit.fontawesome.com/a076d05399.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>

<body>
    <!-- Sidebar -->
    <div th:replace="~{fragments/fragment :: sidebar}"></div>

    <!-- Topbar with Hamburger & User Icon -->
    <div class="dashboard-container" id="content">
        <div class="sticky-header">
            <!-- Topbar -->
            <div th:replace="~{fragments/fragment :: topbar}"></div>

            <div class="text-link" id="breadcrumb-container">
                <h4>Maintenance</h4>
                <a href="/home">Main</a>
                <p>/</p>
                <a href="/maintenance/scholarship" title="You're currently in this page.">Maintenance - Scholarship</a>
            </div>

            <div class="search-div">
                <!-- Searchbox and sort btn -->
                <div class="left-section">
                    <div class="search-container">
                        <input type="text" placeholder="Search..." class="search-input" />
                        <button class="search-btn">Search</button>
                        <!-- Add scholarship discount Button -->
                        <div class="add-something-btn-container">
                            <button type="button" class="btn-confirm" id="openScholarshipModal"
                                data-open-modal="scholarshipModal" title="Click To Add Custom Scholarship Type">Add Scholarship Type</button>
                        </div>
                        <div class="add-something-btn-container">
                            <a href="/reports/scholarship"><button type="button" class="btn-neutral" title="Click to View Reports">View Reports</button></a>
                        </div>
                    </div>
                    
                </div>
                <div class="sort-container">
                    <select name="sort" id="sort-select" class="sort-select">
                        <option value="" disabled selected>Sort</option>
                        <option value="patient-number">Patient Number</option>
                        <option value="patient-name">Patient Name</option>
                        <option value="patient-sex">Sex</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Table -->
         <div class="table-wrapper">
        <table id="lamesa" class="scholarship-table main-table">
            <thead>
                <tr>
                    <th>Scholarship Name</th>
                    <th>Discount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3"> No records found</td>
                </tr>
            </tbody>
        </table> <br> <br>
    </div>

        <!-- Modal for confirmation -->
        <div id="confirmationModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="modalText"></p>
                <div class="modal-buttons">
                    <button id="confirmAction" class="btn-confirm">Confirm</button>
                    <button class="btn-close-confirm" data-close-modal="confirmationModal">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Error Modal -->
        <div id="errorModal" class="modal">
            <div class="modal-content scroll-lock">
                <p id="errorMessage"></p>
                <div class="modal-buttons">
                    <button class="error-btn-cancel" data-close-modal="errorModal">Close</button>
                </div>
            </div>
        </div>

        <!-- Background overlay -->
        <div id="successModalOverlay"></div>

        <!-- Success modal -->
        <div id="successModal">
            <p id="successModalMessage"></p>
        </div>

        <!-- Modal for adding scholarship type/name -->
        <div id="scholarshipModal" class="scholarship-modal modal">
            <div class="scholarship-modal-content scroll-lock">
                <!-- Close Button -->
                <span class="close-modal" data-close-modal="scholarshipModal">&times;</span>

                <h2>Add New Scholarship Type</h2>
                <form id="scholarshipForm">
                    <label for="scholarshipName">Scholarship Type/Name:</label>
                    <input type="text" id="scholarshipName" name="scholarshipName" required>
                    <br><br>

                    <label for="scholarshipAmount">Amount</label>
                    <input type="number" min="1" id="scholarshipAmount" disabled required>

                    <div class="full-width-row">
                        <!-- Radio button for fixed amount -->
                        <div class="radio-label">
                            Fixed Amount: <input value="fixedamount" type="radio" id="fixedAmountDiscount"
                                name="amountDiscount">
                        </div>
                    </div>

                    <div class="full-width-row">
                        <!-- Radio button for fixed amount -->
                        <div class="radio-label">
                            Percentage: <input value="percentage" type="radio" id="percentageAmountDiscount"
                                name="amountDiscount">
                        </div>
                    </div> <br>

                    <div class="modal-buttons">
                        <button type="button" class="btn-confirm" data-action="addShcholarshipType"
                            data-message="Are you sure you want to add this scholarship type/name?"
                            id="confirmGradeLevel" data-open-modal="confirmationModal">
                            Confirm
                        </button>
                        <button type="button" class="btn-cancel" data-close-modal="scholarshipModal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- Modal for editing the scholarship type -->
        <div id="scholarshipEditModal" class="scholarship-edit-modal modal">
            <div class="scholarship-edit-modal-content scroll-lock">
                <!-- Close Button -->
                <span class="close-modal" data-close-modal="scholarshipEditModal">&times;</span>

                <h2>Scholarship Type Information</h2>
                <form method="" action="" id="scholarshipEditForm">
                    <label for="scholarshipNameEdit">Scholarship Type/Name:</label>
                    <input type="text" id="scholarshipNameEdit" name="scholarshipNameEdit" readonly required>
                    <br><br>

                    <label for="scholarshipAmountEdit">Amount</label>
                    <input type="number" id="scholarshipAmountEdit" required>

                    <div class="full-width-row">
                        <!-- Radio button for fixed amount -->
                        <div class="radio-label">
                            Fixed Amount: <input type="radio" value="fixedamount" id="fixedAmountDiscount"
                                name="amountDiscount">
                        </div>
                    </div>

                    <div class="full-width-row">
                        <!-- Radio button for fixed amount -->
                        <div class="radio-label">
                            Percentage: <input type="radio" value="percentage" id="percentageAmountDiscount"
                                name="amountDiscount">
                        </div>
                    </div> <br>

                    <div class="modal-buttons">
                        <button type="button" class="btn-confirm" data-action="editScholarshipType"
                            data-message="Are you sure you want to update this scholarship information?"
                            id="confirmGradeLevelEdit">Edit</button>
                        <button type="button" class="btn-cancel" data-close-modal="scholarshipEditModal">Close</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            getDiscountsList();
        });
        const radioButtons = document.querySelectorAll('input[type="radio"]')
        radioButtons.forEach(radio => {
            radio.addEventListener('change', function () {
                const amountfield = document.getElementById("scholarshipAmount");
                if (this.checked) {
                    if (this.value === "fixedamount")
                        amountfield.max = 999999;
                    else {
                        amountfield.max = 100;
                        if (amountfield.value > 100)
                            amountfield.value = 100;
                    }
                }
                amountfield.disabled = false;
            });
        });
        function addNewScholarship() {
            const choice = Array.from(radioButtons).find(radio => radio.checked).value;
            const scholarshipName = document.getElementById("scholarshipName").value;
            const scholarshipDiscount = document.getElementById("scholarshipAmount").value;

            const scholarshipData = {
                discountName: scholarshipName,
                percentageDiscount: 0,
                fixedDiscount: 0
            }
            if (choice === "fixedamount")
                scholarshipData.fixedDiscount = scholarshipDiscount;
            else
                scholarshipData.percentageDiscount = scholarshipDiscount / 100;

            fetch("/discounts/add", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(scholarshipData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(data => {
                    showSuccessModal(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        var angIDeleteNaDiscount;
        document.addEventListener("click", function (event) {
            const deleteDiscount = event.target.closest('[data-action="deleteScholarshipType"]');
            if (deleteDiscount) {
                angIDeleteNaDiscount = deleteDiscount.getAttribute("data-id");
            }
        });

        function getDiscountsList() {
            fetch("/discounts/all")
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.size === 0)
                        return;

                    const tableBody = document.querySelector("#lamesa tbody");
                    tableBody.innerHTML = ``;

                    data.forEach(discount => {
                        console.log(discount);
                        const discountAmount = discount.fixedDiscount > 0 ? "P" + discount.fixedDiscount : discount.percentageDiscount + "%";
                        const row = document.createElement("tr");
                        row.innerHTML = `
                        <td>${discount.discountName}</td>
                        <td>${discountAmount}</td>
                        <td>
                            <div class="action-container">
                                <div class="action">

                                    <img data-open-modal="scholarshipEditModal" src="/images/icons/compose.png"
                                        alt="scholarship-edit-icon" title="Click to Edit Scholarship Info">

                                    <img data-open-modal="confirmationModal" data-id="${discount.discountId}" data-action="deleteScholarshipType" data-message="Are you sure you want to delete this scholarship record?" src="/images/icons/bin.png" alt="scholarship-delete-icon" title="Click to Delete">

                                </div>

                            </div>
                        </td>`;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle errors here
                });
        }

        function deletescholarship() {
            fetch(`/discounts/delete/${angIDeleteNaDiscount}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .then(msg => {
                    showSuccessModal(msg);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>